<h1>Oldest director</h1>

<p>The oldest director in our dataset right now is <%= @the_oldest_director.name %>, born on <%= @the_oldest_director.dob.strftime("%B #{@the_oldest_director.dob.day.ordinalize} %Y") %>.</p>
